# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

.vs

!packages

!paho-mqtt3a.dll
!paho-mqtt3as.dll
!paho-mqtt3c.dll
!paho-mqtt3cs.dll

!paho-mqtt3a.lib
!paho-mqtt3as.lib
!paho-mqtt3c.lib
!paho-mqtt3cs.lib
